label.checkbox_custom {
  display: inline-block;
  box-sizing: border-box;
  height: max-content;
  border: 0;
  padding: 0;
  margin: 2px 2px 2px 2px;
  width: fit-content;
}

input {
  display: none;
}

input + .checkbox {
  user-select: none;

  position: relative;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  white-space: nowrap;
  transition: 0.2s all;

  height: 30px;
  line-height: 30px;
  min-width: 30px;
  font-size: 16px;
  margin: 0;
  padding-left: 23px;
  padding-right: 7px;
  border-radius: 8px;

  color: #333;
  font-weight: bold;
  box-shadow:
    inset 0px 0px 0px #fff0,
    inset 0px 0px 0px #fff0,
    1px 1px 4px #a6a6a6,
    -1px -1px 4px #ffffff;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
}

input:checked + .checkbox {
  color: #747474;
  box-shadow:
    inset 1px 1px 4px #8f8f8f,
    inset -2px -2px 6px #ffffff,
    0px 0px 0px #fff0,
    0px 0px 0px #fff0;
  background: linear-gradient(145deg, #ededed, #ffffff);
}

input:not(:checked):hover + .checkbox {
  color: #000;
}

input:checked + .checkbox::after,
input:checked + .checkbox::before {
  content: '';
  position: absolute;
  background-color: #66e03d;
  border-radius: 1px;
  transition: 0.2s all;
}

input:checked + .checkbox::before {
  top: 15.12px;
  left: 11.26px;
  width: 2px;
  height: 6px;
  transform: rotateZ(-45deg);
}

input:checked + .checkbox::after {
  top: 8.6px;
  left: 15.99px;
  width: 2px;
  height: 13px;
  transform: rotateZ(35deg);
}

input:not(:checked) + .checkbox::after,
input:not(:checked) + .checkbox::before {
  content: '';
  position: absolute;
  background-color: #ff2f2f;
  top: 8px;
  left: 14px;
  width: 2px;
  height: 14px;
  border-radius: 1px;
  transition: 0.2s all;
}

/*未选中复选框常规状态*/
input:not(:checked) + .checkbox::before {
  transform: rotateZ(45deg);
}

input:not(:checked) + .checkbox::after {
  transform: rotateZ(-45deg);
}
